:root {
    --white-color: rgb(255, 255, 255);
    --black-color: #000;
    --text-color: #333;
    --main-color: #f49300;
    --book-color: #18b6ec;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {}

.container__full-width {
    width: 100%;
}

.container__row {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 0;
    overflow-wrap: break-word;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
