.header-top .container {
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-top .logo {
    flex: 1;
}

.header-top .logo img {
    height: 70px;
}

.header-top .search {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 210px;
    padding-top: 10px;
}

.header-top .search input {
    margin-left: 40px;
    flex: 1;
    background-color: #f2f2f2;
    border-style: none;
    height: 50px;
    width: 90px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 13px;
}

.header-top .search button {
    margin-right: 40px;
    flex: 1;
    background-color: #f2f2f2;
    border-style: none;
    height: 50px;
    width: 50px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 18px;
}

.header-top .login {
    flex: 1;
    margin-top: 25px;
}

.header-top .login-btn {
    flex: 1;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
    background-color: var(--white-color);
    padding: 15px;
    border: 1px solid #808080FF;
    border-radius: 5px;
}

.login-btn:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

/* header-foot */
.header-foot {
    background-color: var(--main-color);
    height: 60px;
}

.navigation {
    width: auto;
    display: flex;
}

.header-foot .nav-bar {
    margin: 0;
    padding-left: 0;
}

.header-foot .nav-item {
    float: left;
    display: block;
    padding: 19px 19px 19px 30px;
    position: relative;
}

li.nav-item:first-child {
    padding-left: 0;
}

.header-foot .nav-item-link {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 22px;
    color: var(--white-color);
}

.header-foot .nav-item .sub-nav {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 200px;
    padding-left: 0;
    background-color: var(--white-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}

.header-foot .nav-item .sub-nav a {
    display: block;
    margin: 0;
    padding: 10px 20px;
    color: var(--text-color);
}

.header-foot .booking {
    padding: 10px 8px 10px 10px;
}

.booking {
    background-color: #1aa3ef;
    text-align: center;
    border-radius: 34px;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
    transition-timing-function: ease-in-out;
    transition: padding 0.4s;
}

.booking:hover a {
    color: var(--white-color);
}

.booking:hover {
    background-color: var(--text-color);
    padding-right: 18px;
    padding-left: 25px;
    font-weight: 600;
}

.navigation ul li:hover {
    background: #f49300;
}

.navigation ul li:hover .sub-item:hover a {
    color: var(--white-color);
}

.sub-item {
    border-bottom: 1px solid #dcdcdc;
}

.navigation ul li:hover > ul {
    display: block;
    z-index: 1;
}

.navigation ul ul {
    display: none;
}

/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
footer {
    width: 100%;
    background-color: #353535;
    padding-top: 30px;
}

.footer-nav {
    margin-top: auto;
}

footer .footer-row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.nav-column-logo {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-column-logo .logo img {
    height: 60px;
}

.nav-column-logo .address {
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--white-color);
    margin-top: 16px;
}

.nav-column {
    flex: 0 0 22%;
    max-width: 22%;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-column .footer-heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 23px;
    color: var(--white-color);
    margin: 0;
}

.nav-column p {
    font-size: 1.4rem;
    line-height: 19px;
    color: var(--white-color);
    margin-top: 15px;
}

.nav-column ul {
    padding-left: 0;
}

.nav-column li, a {
    font-size: 1.4rem;
    line-height: 19px;
    color: var(--white-color);
    margin-top: 15px;
}

footer .copyright {
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 20px 0 20px;
    border-top: 1px solid var(--main-color);
}


/*content cua khui*//*content cua khui*//*content cua khui*//*content cua khui*//*content cua khui*//*content cua khui*/
.content {
    border-bottom: 2px solid #b3b3b3;
}

table, tr, td {
    border: 1px solid #353535;
    border-collapse: collapse;
    text-align: center;
}

.bang-gia table, tr, td {
    border: 1px solid #353535;
    border-collapse: collapse;
    text-align: center;
    /*border-radius: 4px;*/
}

.problem {
    margin: 5px;
}

.problem a {
    color: var(--white-color);
    font-weight: 600;
    font-size: 18px;
}

.problem td:hover img {
    opacity: 0.8;
}

.problem td:hover {
    background-image: linear-gradient(var(--main-color), var(--white-color));
}

.bang-gia a {
    color: var(--text-color);
    font-size: 18px;
}

.bang-gia {
    margin: 5px;
}

.bang-gia td {
    width: 160px;
}

.problem tr:nth-child(even) {
    background-color: var(--main-color);
}

.bang-gia tr:nth-child(even) {
    background-color: #dddddd;
}

div.text {
    overflow: auto;
}

div.text h1 {
    line-height: 145px;
    /* height: 145px; */
    padding-left: 5px;
    color: var(--white-color);
    /*border: 1px solid var(--white-color);*/
    margin: 5px;
    background-image: linear-gradient(to right, var(--main-color), var(--white-color));
}

div.text img {
    position: absolute;
    margin-top: 8px;
    margin-left: 905px;
    z-index: 0;
}

.content p {
    line-height: 1.5;
    font-size: 18px;
    width: 850px;
    text-align: justify;
}

/*may cai nut ben phai*/
div.side-social-btn ul {
    position: fixed;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 65px;
    top: 45%;
}

div.side-social-btn li {
    background-color: var(--main-color);
    margin-top: 10px;
}

div.side-social-btn li i {
    display: block;
    color: var(--white-color);
    padding: 16px 16px;
    text-decoration: none;
}

div.side-social-btn li:hover {
    background-color: var(--main-color);
    opacity: 0.6;
    cursor: pointer;
}